<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.baizhi.dao.CategoryDao">
    <resultMap id="category" type="Category">
        <id column="id" property="id"></id>
        <result column="cate_name" property="cateName"></result>
        <result column="levels" property="levels"></result>
        <result column="parent_id" property="parentId"></result>
    </resultMap>

    <sql id="all">
        select id,cate_name,levels,parent_id from yx_category
    </sql>

    <!--List<Category> queryByLevels(String level);-->
    <select id="queryByLevels" parameterType="String" resultMap="category">
        <include refid="all"/> where levels = #{level}
    </select>
    <!--List<Category> queryByParentId(String id);-->
    <select id="queryByParentId" parameterType="String" resultMap="category">
        <include refid="all"/> where parent_id = #{id}
    </select>
    <!--void save(Category category);-->
    <insert id="save" parameterType="Category">
        insert into yx_category values(#{id},#{cateName},#{levels},#{parentId})
    </insert>
    <!--void delete(String id);-->
    <delete id="delete" parameterType="String">
        delete from yx_category where id =#{id}
    </delete>
    <!--void saveHigh(Category category);-->
    <insert id="saveHigh" parameterType="Category">
        insert into yx_category values(#{id},#{cateName},#{levels},#{parentId})
    </insert>

    <!--void uodateLow(Category category);-->
    <update id="uodateLow" parameterType="Category">
        update yx_category set cate_name=#{cateName} where id=#{id}
    </update>


</mapper>