<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.baizhi.dao.MouthAndCountDao">

    <!--List<MountAndCount> queryFrozen();-->
    <select id="queryFrozen" resultType="cn.baizhi.vo.MouthAndCount">
         select month(createdate) month ,count(*) count from yx_user where status = 1
        group by month(createdate)
    </select>

    <!--List<MountAndCount> queryAvailable();-->
    <select id="queryAvailable" resultType="cn.baizhi.vo.MouthAndCount">
        select month(createdate) month ,count(*) count from yx_user where status = 0
        group by month(createdate)
    </select>

</mapper>