<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.baizhi.dao.VideoDao">
    <resultMap id="video" type="Video">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="brief" property="brief"></result>
        <result column="cover_path" property="coverPath"></result>
        <result column="video_path" property="videoPath"></result>
        <result column="create_date" property="createDate"></result>
        <association property="category" javaType="Category">
            <id column="category_id" property="id"></id>
            <result column="cate_name" property="cateName"></result>
        </association>

        <association property="user" javaType="User">
            <id column="user_id" property="id"></id>
            <result column="username" property="username"></result>
        </association>
    </resultMap>

        <!--分页查 List<Video> selectAll(@Param("start") int start, @Param("end") int end);-->
    <select id="selectAll" resultMap="video">
        select video.id,title,video.brief,cover_path,video_path,create_date,category_id,user_id,cate_name,username from
         (select id,title,brief,cover_path,video_path,create_date,category_id,user_id from yx_video limit #{start},#{end}
         ) video left join yx_category category on category.id=video.category_id
        left join yx_user user on video.user_id=user.id
    </select>

    <!--Integer queryCount();-->
    <select id="queryCount" resultType="Integer">
        select count(*) from yx_video
    </select>

    <!--void insertVideo(Video video);-->
    <insert id="insertVideo" parameterType="Video">
        insert into yx_video values(#{id},#{title},#{brief},#{coverPath},#{videoPath},#{createDate},#{category.id},#{user.id},null)
    </insert>
    <!--void deleteVideo(String id);-->
    <delete id="deleteVideo" parameterType="String">
        delete from yx_video where id =#{id}
    </delete>

</mapper>